{% extends "AppBundle::base.html.twig" %}


{% block content_block %}
    <div id="products">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <caption>Optional table caption.</caption>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td><a href="{{ path('remove_from_cart', {"id": product.id}) }}"><i class="glyphicon glyphicon-remove"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row">-</th>
                            <td>-</td>
                            <td>Całkowity koszt:</td>
                            <td><span class="label label-info">{{ total }}</span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}